form {
  min-height: fit-content;
  height: 80vh;

  border-radius: 1.5625rem;
  background: #f8f8f8 !important;
  box-shadow: 9px 9px 15px 0px rgba(0, 0, 0, 0.15),
              -11px -11px 25px 0px rgba(223, 223, 223, 0.75) inset,
              9px 9px 25px 0px #FFF inset !important;
  
  margin-right: 20px;
}